<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="centerPage">
    <header>
        <div class="headerGrid">
            <a class="blackText" href="/">
                <h1>
                    <!-- <img class="instaLogo" alt="Insta Logo" src="/images/logo.png"> -->
                    <span class="vdivider"></span>Insta485
                </h1>
            </a>
            <p class="topr">
                <a class="blackText" href="/explore/"> explore</a>
                <span class="toprdiv"></span>
                <a class="blackText" href="/users/{{logname}}/"> {{logname}}</a>
            </p>
        </div>
    </header>
    <div class="hdivider"></div>

    <h1><b>Following</b></h1>
    {% for user in following %}
    <div class="template">
        <img src="/uploads/{{user.filename}}" alt="{{user.username}}" style="height: 150px; width: 150px;">
        <a href="/users/{{user.username}}/">{{user.username}}</a>
            {% if logname != user.username %}
                {% if user.follows %}
                    following 
                    <form action="/following/?target=/users/{{param}}/following/" method="post" enctype="multipart/form-data">
                        <input type="submit" name="unfollow" value="unfollow"/>
                        <input type="hidden" name="username" value="{{user.username}}"/>
                        <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                {% else %}
                    not following 
                    <form action="/following/?target=/users/{{param}}/following/" method="post" enctype="multipart/form-data">
                        <input type="submit" name="follow" value="follow"/>
                        <input type="hidden" name="username" value="{{user.username}}"/>
                        <input type="hidden" name="operation" value="follow"/>
                    </form>
                    
                {% endif %}
            {% endif %}
    </div>
    {% endfor %}
    </div>
</body>
</html>
